.carousel_based{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    transition: .5s;

}
.carousel_based img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.carousel_based.scaleUp{
    height: 500px;
    width: 500px;
}
.carousel-control-next,
.carousel-control-next:hover,
.carousel-control-next:active,
.carousel-control-next:visited,
.carousel-control-prev,
.carousel-control-prev:hover,
.carousel-control-prev:active,
.carousel-control-prev:visited{
    color: #000!important;
}


